.container{
    width: 50%;
    margin: 10px auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(8, 40px);
    gap: 10px;
}
.container div{
    background-color: rgb(91, 155, 213);
    padding: 10px;
}
.header, .footer{
    grid-column: 1/5;
}
.sidebar{
    grid-column: 4/5;
    grid-row: 2/8;
}
.box{
    grid-row: 2/4;
}
.content{
    grid-row: 4/8;
    grid-column: 1/4;
}


